<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Java Hipster 에 오신 것을 환영합니다!</span> (Jhipster Sample Application)</h1>

    <p class="lead" jhiTranslate="home.subtitle">이것은 당신의 홈페이지입니다.</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >"{{ account.login }}"(으)로 로그인하셨습니다.</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix"></span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">인증</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >을 원하시면, 기본 계정을 사용할 수 있습니다:<br />- 관리자 (아이디="admin", 비밀번호="admin") <br />- 사용자 (아이디="user",
          비밀번호="user").</span
        >
      </div>
    </div>

    <p jhiTranslate="home.question">JHipster에 질문이 있다면:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster 홈페이지</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster 버그 트랙커</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >트위터에서 @jhipster 에 접속하세요.</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">JHipster 가 마음에 든다면, 별을 주는 것을 잊지 마세요.</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>
